aiosqlite
alembic
bcrypt==4.0.1
fastapi
fastapi-cache2
fastapi-sqlalchemy
itsdangerous
openpyxl
pandas
passlib[bcrypt]
pydantic
pydantic-settings
redis
requests
sqladmin
sqlalchemy[asyncio]
starlette
typer
uvicorn
